<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE SetConfig>
<SetConfig>
  <General MaxResultCount="20" CacheSize="NONE" MaxAddressObjectCount="3" MaxThreadCount="2" MaxMemoryUsageMB="1024" PreloadingMethod="MAP" WriteXMLBOM="NEVER" WriteXMLEncoding="UTF-16"></General>
  <UnlockCode>1ZD9Z4RX5JUZDFFF3688U26ZXUM5JN8MEEVA</UnlockCode>
  <UnlockCode>KA3R610YM940NFKJ59EMC4V8SUR5C91JHP4C</UnlockCode>
  <UnlockCode>2AX90UWTV8FJF2KHLXWMY8F2D8WL5HFMK7MC</UnlockCode>
  <UnlockCode>FADVQAE15PPFCRVFZXCVAE37USANPNZDYQ0A</UnlockCode>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="CERTIFIED"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="SUPPLEMENTARY"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="GEOCODING"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="BATCH_INTERACTIVE"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="FASTCOMPLETION"></DataBase>
</SetConfig>
