<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Address-Service ReST Service Automated Test</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SSH_USERNAME</name>
          <description></description>
          <defaultValue>zhanyuju</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>SSH_PASSWORD</name>
          <description></description>
          <defaultValue>lpjF5t/NtLwG1fRpZqedqPNV/hiGRrhxUMRXipUM8iQ=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TEST_ENV</name>
          <description></description>
          <defaultValue>HPE_ITG_Alias_Https</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ANSIBLE_INVENTORY_PATH</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>inventory/c0004714/hosts</string>
              <string>inventory/c0004715/hosts</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>USERGROUP</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>srpauser_c0004714</string>
              <string>srpauser_c0004715</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>SHELL_SCRIPT</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ad-curl.sh</string>
              <string>ad-https-curl.sh</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TEST_DATE</name>
          <description></description>
          <defaultValue>20160309</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>AD_ENV</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>DEV</string>
              <string>ITG</string>
              <string>PRO</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AD_PROXY</name>
          <description></description>
          <defaultValue>Alias</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LOG_DATE1</name>
          <description></description>
          <defaultValue>2016-03-05</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LOG_DATE2</name>
          <description></description>
          <defaultValue>2016-03-06</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LOG_DATE3</name>
          <description></description>
          <defaultValue>2016-03-07</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LOG_DATE4</name>
          <description></description>
          <defaultValue>2016-03-08</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>AD_ENV_HOSTNAME</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>address-service-dev.core.hpecorp.net</string>
              <string>address-service-itg.core.hpecorp.net</string>
              <string>address-service.core.hpecorp.net</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github-is-p.ghe.hos.hpecorp.net/yu-juan-zhang/as-automated-test.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sed -i \
-e &quot;s|@@usergroup@@|${USERGROUP}|&quot; \
-e &quot;s|@@shell_script@@|${SHELL_SCRIPT}|&quot; \
-e &quot;s|@@pro_log_path@@|${PRO_LOG_PATH}|&quot; \
-e &quot;s|@@test_date@@|${TEST_DATE}|&quot; \
-e &quot;s|@@hp_company@@|${HP_COMPANY}|&quot; \
-e &quot;s|@@ad_env@@|${AD_ENV}|&quot; \
-e &quot;s|@@ad_proxy@@|${AD_PROXY}|&quot; \
-e &quot;s|@@log_date1@@|${LOG_DATE1}|&quot; \
-e &quot;s|@@log_date2@@|${LOG_DATE2}|&quot; \
-e &quot;s|@@log_date3@@|${LOG_DATE3}|&quot; \
-e &quot;s|@@log_date4@@|${LOG_DATE4}|&quot; \
-e &quot;s|@@ad_env_hostname@@|${AD_ENV_HOSTNAME}|&quot; \
automated-test.yml

sshpass -p ${SSH_PASSWORD} ansible-playbook automated-test.yml -i ${ANSIBLE_INVENTORY_PATH} -u ${SSH_USERNAME} --ask-pass -vvv</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper/>
    <EnvInjectBuildWrapper plugin="envinject@1.92.1">
      <info>
        <propertiesContent>PRO_LOG_PATH=/opt/casfw/address-doctor/PRO_LOG
HP_COMPANY=HPE</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${ENV,var=&quot;TEST_ENV&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>