<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE SetConfig>
<SetConfig>
  <General MaxResultCount="20" CacheSize="NONE" MaxAddressObjectCount="3" MaxThreadCount="2" MaxMemoryUsageMB="1024" PreloadingMethod="MAP" WriteXMLBOM="NEVER" WriteXMLEncoding="UTF-16"></General>
  <UnlockCode>EEJRSH5QN36TC21AJVNJMXRJD1C926YK005A</UnlockCode>
  <UnlockCode>AAVY71XYM2Z0QQ4PN46R3H7K23T7HY8QTPNC</UnlockCode>
  <UnlockCode>1JS0L46XXJV53A4QM4FZCD0DW9EF3MNKAKKC</UnlockCode>
  <UnlockCode>TA91RQQXTR1QNE1E1WTDLCJE066S8YFEXUTC</UnlockCode>
  <UnlockCode>PF2H9UNMTM79MYADA8SAZ5MD0WYAC8YFZ5SC</UnlockCode>
  <UnlockCode>4E6F1XSZCFZ6CJZSR526NSH8WKYC0F5APCRA</UnlockCode>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="CERTIFIED"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="SUPPLEMENTARY"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="GEOCODING"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="BATCH_INTERACTIVE"></DataBase>
  <DataBase CountryISO3="ALL" Path="C:/Developer/AddressDoctorDB/" PreloadingType="NONE" Type="FASTCOMPLETION"></DataBase>
</SetConfig>
